/*********** Style ScrollMagic lib ******************/
/* header {
  height: 100px;
}
 */
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}

header h1 {
  font-size: 60px;
  text-align: center;
}

.picture {
  height: 100px;
  padding: 1.5em;
  top: 50%;
  left: 0%;
  position: absolute;
}
/*
  will-change: filter;
.picture:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
   filter: drop-shadow(0 0 2em #f7df1eaa); 
}
*/

.animation {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  position: relative;
  overflow: hidden;

}
/*********** Style DRAGGABLE GSAP effect ************/

.hub__wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.hub__wrapper .hub {
        position: relative;
        width: 5000px;
        height: 3487px;
}
.hub .hub__wrapper .hub__inner-wrapper {
            width: 100%;
            height: 100%;
            display: inline-block;
}
.hub .hub__wrapper img {
            width: 100%;
}

.hub .hub__wrapper #light__off {
            position: relative;
}

@media (min-width: 768px){
    .mini-map{
        position: fixed;
        bottom: 15px;
        left: 15px;
        width: 350px;
        height: 250px;
        z-index: 20000;
        border-radius: 12px;
      box-shadow: 6px 6px 6px rgba(0,0,0,0.5);
      border: 1px solid black;
        background: url(https://jkrstories.clientapproval.co.uk/wp-content/themes/ed-theme/assets/img/JKR_Childrens_HUB_DAY_LIGHT_OFF.jpg) top left no-repeat;
      background-size: cover;
    }
    .mini-map-marker{
      position: absolute;
        border: 2px solid #fff;
    }
}

/******************* Go back to initial vite vanilla js app style ****************************/

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
